@import "../../styles/reset";

.app{
    display: flex;
    align-items: center;
    padding: 5px 10px;

    &__icon{
        padding-right: 10px;
    }
    &__input{
        width: 100%;
        height: 100%;
        background: none;
        color: white;
        margin: 10px 0;
        border: 1px solid transparent;

        &:focus{
            border-bottom: 1px solid #939597;
        }
    }
}